

/*********** HOME PAGE STYLING ************/
@font-face {
    font-family: playfairDisplaySC;
    src: url(assets/Font/playfair-display/PlayfairDisplaySC-Regular.otf);
}

/* MAIN.HTML STYLING BELOW*/

#mainContainer {
    width: 100%;
    margin-left: 30px;
    margin-right: 0px;
    margin-top: 0px;

}

h1 {
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
    padding: 0px;
    background-color: white;
    color: #181818;
    font-family: 'playfairDisplaySC';
    font-size: 22pt;
    text-decoration: none;
}

h2 {
    font-family: 'Ruda', sans-serif;
    color: #181818;
    text-align: left;
    font-size: 15px;
    margin-left: 20px;
    margin-bottom: -10px;
    margin-top: 38px;
}

p {
    font-family: 'Ruda', sans-serif;
    color: #181818;
    margin:5px;
    padding:0;

}


.topnav {
    overflow: hidden;
}



.topnav a {
    float: right;
    display: inline-block;
    text-align: right;
    color: black;
    font-family: 'Ruda', sans-serif;
    font-size: 12px;
    padding: 7px;
    text-decoration: none;
    margin-top: 50px;

}

#myTopnav{
    margin-right: 62px;
}

#cart-num{
    margin-left: -12px;
}

#header2 {
    text-decoration: none;
    color: black;
}

.imageWrapper{
    display: flex;
    flex-direction: row;
    margin-top: 0;

}

/* main pic on home screen*/
#bigFeaturedPic {
    display: inline-block;
    top: 99px;
    left: 30px;
    margin: 20px;
    width: 60%;
    height: auto;

}

.bigImage {
    width:  100%;
    height: auto;
}

/*box aligning the small images on the home screen*/
.smallFeaturedBox {
    display: inline-block;
    text-align: right;
    top: 99px;
    padding-left: 5px;
    width: 30%;
    height: 100%;
    vertical-align: top;
    margin-top: 20px;

}

/* small images on home screen*/
.smallImage {
    display: block; /*will not try to line up horizontally*/
    width: 100%;
    height: auto;
    margin-bottom: 20px;

}



/*********** HOME PAGE ************/

/*sets margin for entire page on products page. box for whole page*/
.container {
    width:  100%;
    height: auto;
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 75px;




}
/*box within container using flex so images stack and wrap*/
.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    line-height: 20px;
    height:  100%
}

/*box around all images on products/shop page*/
.box {
    width: 32%;
    height: auto;
    margin-bottom: 30px;
}


/*make sure images fill all of box*/
.galleryImages {
    width: 100%;
}

/*make sure images fill all of box*/



.productCaption {
    color: black;
    font-family: 'Ruda', sans-serif;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 10px;
    width: 18.8%;
    height: auto;
}

.headerLink:visited {
    font-family: 'Ruda', sans-serif;
    font-size: 30px;
    text-decoration: none;

}

/* STYLING FOR PRODUCT DETAIL PAGE STARTS HERE */

.centerColumn {
    margin: auto;
    width: 40%;
    height: auto;
    margin-top: -10px;
}

.wrapImageWithInfo {
    display: block;
    width: 100%;
    height: auto;
}


.product-page-image {
    background-size: cover;
    width: 100%;
}

.itemTitle {
    font-family: 'Ruda', sans-serif;
    color: #181818;
    font-size: 37px;
    text-align: left;

}


.price {
    text-decoration: none;
    font-size: 64px;
    margin-bottom: 20px;
}

.description {
    font-size: 16px;

}

.buttonBox {
    width: 100%;
    height: auto;
    margin-top: 25px;
}

.button {
    width: 100%;
}

.dropbtn {
    position: relative;
    width: 40%;
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: 1px solid black;
    cursor: pointer;

}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white;
}


#button-holder {
    margin: auto;
    width: 100%;
    height: auto;
    margin-top: -10px;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}




.size-btn {
    outline-color: darkgray;
    background-color: white;
    color: black;
    border-radius: 0px;
}

.color-btn {
    margin-bottom: 10px;
    outline-color: darkgray;
    background-color: white;
    color: black;
    border-radius: 0px;
}


#default-color {
    color: red;

}

#default-size {
    color: red;

}

.action-button {;
    display: block;
    width: 100%;
    background: #0A5AB7;
    font-family: Ruda;
    font-size: 29px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-top: 50px;
    padding: 9px;
    border:  none;
}




/* START STYLING FOR CART */

/* style column header*/

.section-labels {
    position: block;
    margin-top: 100px;
}


.cart-contain {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 75px;
}


.horiz-contain {
    display: inline-block;
    width = 100%;
    height = 100px;
    border: 1px solid black;
    margin-top: 50px;
    vertical-align: top;
}

.image-box {
    display: inline-block;
    margin-left: 5%;
    height: auto;
    width: 20%;

}



.item-wrap{
    display: inline-block;
    height: auto;
    width: 10%;
    border: 1px solid black;
    vertical-align: top;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-top: 25px;
    margin-left: 25px;
    table-layout:fixed;
    overflow:hidden;
}


th, td {
    text-align: left;
    border-bottom: 1px solid #cecfd5;
    overflow:hidden;

}

td {
    padding: 5px;
    width: 10%;

}

th {
    padding: 5px;
}


#cart-title {
    font-family: Ruda-Regular;
    font-size: 27px;
    color: #181818;
    letter-spacing: 0;
    margin-bottom: 30px;
    margin-top: 0px;

}

#table-pic {
    width: 10%;
}

#info-box {
    width: 10px;
}

.cart-text{
}

#cart-header {
    position: absolute;
    font-size: 15pt;
    text-decoration: none;
    color: black;
    margin-top: 25px;
    margin-left: 20px;
    padding: 0px;
    background-color: white;
    color: #181818;
    font-family: 'playfairDisplaySC';
    text-decoration: none;
    color: black;

}
/*for selection of quantity in cart*/
#quantity-select {

    background-color: #D8D8D8;
    font-family: Ruda-Regular;
    font-size: 12px;
    color: #181818;
    letter-spacing: 0;
    border-radius: 0px;
    border:0px;
    width:40px;

}

#top-of-cart {
    display: inline-block;
    width:100%;
}

#checkout-btn {
    /* Rectangle 3 Copy 7: */
    background: #0A5AB7;
    /* Proceed to Checkout: */
    font-family: Ruda-Regular;
    font-size: 18px;
    color: #DCDCDC;
    letter-spacing: 0;
    horiz-align: right;
    width: 16%;
    height: auto;
    margin-left: 77%;
    overflow: hidden;
    height: 40px;
    border-radius: 0px;


}